<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new Booking</title>
</head>
<body>
<h2 th:text="${booking.room.getTitle()}"></h2>
<form th:action="@{'/bookings/save'}" enctype="multipart/form-data" th:object="${booking}" method="post">
  <input type="hidden" th:field="*{id}" />
  <label>Name: </label>
  <input type="text" th:field="*{name}" required/>
  <label>Surname: </label>
  <textarea th:field="*{surname}" required></textarea>
  <input type="hidden" th:field="*{room.id}" />
  <button type="submit">Save</button>
</form>
</body>
</html>