<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Rooms</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Room Number</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="room : ${rooms}">
                <tr>
                    <td>[[${room.id}]]</td>
                    <td>[[${room.roomNumber}]]</td>
                    <td>[[${room.description}]]</td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>