<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Room</title>
</head>
<body>
<h2 th:text="${room.hotel.getTitle()}"></h2>
<form th:action="@{'/hotels/' + ${room.hotel.getId()} + '/rooms/save'}" enctype="multipart/form-data" th:object="${room}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title: </label>
    <input type="text" th:field="*{title}" required/>
    <label>Description: </label>
    <textarea th:field="*{description}" required></textarea>
    <input type="hidden" th:field="*{hotel.id}" />
    <input type="hidden" th:field="*{isBooking}" />
    <button type="submit">Save</button>
</form>
</body>
</html>