<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Rooms</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Is booking</th>
    <th>Hotel Title</th>
  </tr>
  </thead>
  <tbody>
  <th:block>
    <tr th:each="room : ${rooms}">
      <td>[[${room.id}]]</td>
      <td>[[${room.title}]]</td>
      <td>[[${room.description}]]</td>
      <td>[[${room.isBooking}]]</td>
      <td>[[${room.hotel.title}]]</td>
      <td>
        <a th:href="@{'/rooms/edit/' + ${room.id}}">Edit this room</a>
      </td>
      <td>
        <a th:href="@{'/hotels/' + ${hotelId} + '/rooms/delete/' + ${room.id}}">Delete this room</a>
      </td>
      <td>
        <a th:href="@{'/rooms/' + ${room.id} + '/bookings/new'}">Book a room</a>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>
<a th:href="@{'/hotels/' + ${hotelId} + '/rooms/new'}">Add room</a>
</body>
</html>